#completed {

    display: none;
}

#todoList li {

    list-style: none;
    border-style: solid;
    border-width: thin;
    padding-left: 5px;
    width: 90%;
    float: left;
}

#todoList li:hover {

    background-color: lightgray;
}

#todoList {

    padding-left: 0px;
    text-align: center;
}

.delete {

    float: right;
    padding-right: 5px;
    align-items: center;
    
}

.delete:hover {

background-color: lightcoral;
    
}

#completed {

    padding: 0px;
}

.hide {

    display: none;
}