

/* html selectors */
nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul li:first-child {
   display: block;
}

nav ul li {
   background-color: lightgrey;
   border: 1px solid darkgray;
   display: none;
   

}

nav ul li a {
   color: black;
   display: block;
   padding: 7px;
   text-decoration: none;
}


textarea {
   width: 800px;
   height: 250px;
   background-color: azure; 
}


/* class selectors */
.open li{
   display: block;
}



/* id selectors */